html {
    max-width: 1000px;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

body {    
    background: linear-gradient(rgba(255, 255, 255, 0.24), rgba(0, 0, 0, 0.6)), url('img/brokenclouds.jpg'); 
}

.body-style {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 1000px;
}

.container-fluid {
    text-align: center;
}

h3, 
.credit {
    font-family: 'Satisfy', cursive;
    color: #4F628E;
}

a {
    color: #4F628E;
}

.title {
    margin-top: 50px;
    margin-bottom: 30px;
}

.main, 
.weather {    
    color: #2E4272;
}

.bright {
    color: #6176A6;
}

.brighter {
    color: #B9CAF1;
}

.temp-display {
    text-align: right;
}

#temp {
    line-height: 150%;
    vertical-align: bottom;
}

h1 {
    font-size: 400%;
}

.main,
.forecast {
    margin-bottom: 10px;
}

.forecast {
    color: #162955;
}

.credit, 
.toggle-button {
    margin-top: 30px;
}

.attribution {
    line-height: 50px;
}

/* -------------------- */
/*       IMAGES         */
/* -------------------- */

.wu-logo {
    height: 40px;
    padding-left: 5px;
    margin-top: -5px;
}

/* -------------------- */
/*       BUTTON         */
/* -------------------- */

.f-toggle {
    background-color: #2E4272;
    color: #A5B5DB; 
    border-color: #A5B5DB; 
}

.c-toggle {
    border-color: none;
    color: #7887AB;
} 

/* -------------------- */
/*      BACKGROUND      */
/* -------------------- */


.cloudy {
    background: linear-gradient(rgba(234, 234, 234, 0.51), rgba(0, 0, 0, 0.8)), url('img/broken.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 1000px;
}

.rainy {
    background: linear-gradient(rgba(52, 52, 52, 0.56), rgba(0, 0, 0, 0.7)), url('img/moderate-drops-of-rain-from-sky-weather.jpg'); 
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 1000px;
}

.cold {
    background: linear-gradient(rgba(255, 255, 255, 0.22), rgba(0, 0, 0, 0.7)), url('img/clear-cold.jpeg'); 
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 1000px;
}

.cool {
    background: linear-gradient(rgba(250, 250, 250, 0.21), rgba(0, 0, 0, 0.8)), url('img/clear-meadow-flowers-green-mountains-blue-springtime-prairie-yellow-spring-peaks-meadow-snowy-alps-french-wildflowers-beautiful-flower-wallpaper-images.jpg'); 
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 1000px;
}

.tepid {
    background: linear-gradient(rgba(250, 250, 250, 0.11), rgba(0, 0, 0, 0.7)), url('img/clear-moderate.jpeg');  
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 1000px;
}

.warm {
    background: linear-gradient(rgba(180, 180, 180, 0.5), rgba(0, 0, 0, 0.7)), url('img/clear-pantingdog-dog_beach_stones_sit_protruding_tongue_72400_3840x2160.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 1000px;
}

.hot {
    background: linear-gradient(rgba(221, 221, 221, 0.69), rgba(0, 0, 0, 0.5)), url('img/clear-01-melting-ice-cream.w710.h473.2x.jpg'); 
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 1000px;
}

.scorching {
    background: linear-gradient(rgba(221, 221, 221, 0.69), rgba(0, 0, 0, 0.5)), url('img/clear-desert-eyeem-105147772.jpg'); 
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 1000px;
}


/* Blue pallete: http://paletton.com/#uid=13L0u0kllllaFw0g0qFqFg0w0aF
or http://paletton.com/#uid=13L0u0kllll8QNjf6tIr-cYAv4- (lighter pales)
/* Gray pallete: 
http://paletton.com/#uid=13L0u0k6Clz2cw04mqd8WhgbeaY  or
http://paletton.com/#uid=13L0u0k58fb2Yqb49kr688De274