html {
    font-family: 'Barlow Semi Condensed', sans-serif;
    background-color: #fff;
}

body {    
    background: url('img/brokenclouds.jpg'); 
}

.body-style {
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: 1000px;
}

.container-fluid {
    text-align: center;
}

h3, 
.credit {
    font-family: 'Satisfy', cursive;
    color: #4F628E;
}

a {
    color: #4F628E;
}

.title {
    padding-top: 50px;
    margin-bottom: 30px;
}

.main, 
.weather {    
    color: #2E4272;
}

.bright {
    color: #6176A6;
}

.brighter {
    color: #B9CAF1;
}

.temp-display {
    text-align: right;
}

#temp {
    line-height: 150%;
    vertical-align: bottom;
}

h1 {
    font-size: 400%;
}

.main,
.forecast {
    margin-bottom: 10px;
}

.forecast {
    color: #162955;
}

.credit, 
.toggle-button {
    margin-top: 30px;
}

.attribution {
    line-height: 50px;
}

/* -------------------- */
/*       IMAGES         */
/* -------------------- */

/* weather underground logo */
.wu-logo {
    height: 40px;
    padding-left: 5px;
    margin-top: -5px;
}

/* -------------------- */
/*       BUTTON         */
/* -------------------- */

.f-toggle {
    background-color: #2E4272;
    color: #A5B5DB; 
    border-color: #A5B5DB; 
}

.c-toggle {
    border-color: none;
    color: #7887AB;
} 

/* -------------------- */
/*      BACKGROUND      */
/* -------------------- */


.cloudy {
    background: url('img/broken.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 1100px;
    overflow: hidden;
}

.partly-cloudy {
    background: url('img/scattered-clouds-in-the-sky.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 1300px;
    overflow: hidden;
}

.overcast {
    background: url('img/Overcast-sky.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 1200px;
    overflow: hidden;
}

.rainy {
    background: url('img/moderate-drops-of-rain-from-sky-weather.jpg'); 
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 1000px;
    overflow: hidden;
}

.cold {
    background: url('img/clear-cold.jpeg'); 
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 1000px;
    overflow: hidden;
}

.cool {
    background: url('img/clear-meadow-flowers-green-mountains-blue-springtime-prairie-yellow-spring-peaks-meadow-snowy-alps-french-wildflowers-beautiful-flower-wallpaper-images.jpg'); 
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 1000px;
    overflow: hidden;
}

.tepid {
    background: url('img/clear-moderate.jpeg');    
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 900px;
    overflow: hidden;
}

.warm {
    background: url('img/clear-pantingdog-dog_beach_stones_sit_protruding_tongue_72400_3840x2160.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 1200px;
}

.hot {
    background: url('img/clear-01-melting-ice-cream.w710.h473.2x.jpg'); 
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 800px;
    overflow: hidden;
}

.scorching {
    background: url('img/clear-desert-eyeem-105147772.jpg'); 
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 1000px;
    overflow: hidden;
}


/* Blue pallete: http://paletton.com/#uid=13L0u0kllllaFw0g0qFqFg0w0aF
or http://paletton.com/#uid=13L0u0kllll8QNjf6tIr-cYAv4- (lighter pales)
/* Gray pallete: 
http://paletton.com/#uid=13L0u0k6Clz2cw04mqd8WhgbeaY  or
http://paletton.com/#uid=13L0u0k58fb2Yqb49kr688De274