html {
    max-width: 1000px;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

body {
 /*   background-color: #2E4272;
    background-color: -webkit-linear-gradient(#4F628E, #2E4272);
    background-color:    -moz-linear-gradient(#4F628E, #2E4272);
    background-color:         linear-gradient(#4F628E, #2E4272); */
    background-image: url("img/brokenclouds.jpg")
}

.container-fluid {
    text-align: center;
}

h3, 
.credit {
    font-family: 'Satisfy', cursive;
    color: #4F628E;
}

a {
    color: #4F628E;
}

.title {
    margin-top: 50px;
    margin-bottom: 30px;
}

.main {
    color: #2E4272;
}

#temp {
    line-height: 150%;
    vertical-align: bottom;
}

h1 {
    font-size: 400%;
}

.main,
.forecast {
    margin-bottom: 20px;
}

.forecast {
    color: #162955;
}

.credit, 
.toggle-button {
    margin-top: 30px;
}


/* -------------------- */
/*       BUTTON         */
/* -------------------- */

.f-toggle {
    background-color: #2E4272;
}

button {
    color: #7887AB;
}



/* Blue pallete: http://paletton.com/#uid=13L0u0kllllaFw0g0qFqFg0w0aF
/* Gray pallete: 
http://paletton.com/#uid=13L0u0k6Clz2cw04mqd8WhgbeaY  or
http://paletton.com/#uid=13L0u0k58fb2Yqb49kr688De274